@import 'tailwindcss';
@plugin 'daisyui' {
	themes:
		acid --default,
		dark --prefersdark,
		cupcake;
}

* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

body,
html {
	@apply bg-base-300 h-full w-full overflow-y-hidden;
}

@utility card-body {
	@apply gap-4 p-4;
}
